$lightblue: #5EABE6;
$orange: #E5AF5F;

h2 {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding-bottom: 50px;
  background-color: #000;
  color: white;
}

.app {
  .starry-background {
    width: 100%;
    height: 150vh;
    background: radial-gradient(circle, rgba(10, 15, 40, 0.8) 20%, rgba(0, 0, 0, 0.9) 60%, black 90%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .starry-background::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, black, transparent)
  }

  .star {
    position: absolute;
    background-color: rgba(200, 200, 255, 0.8); /* Subtle bluish-white */
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); /* Soft glow effect */
  }

  .app__title {
    padding-top: 10rem;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding: 100px 5% 40px;

    h1 {
      margin: 0;
      padding: 15px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 4rem;
      color: black;
      background-color: $orange;
    }

    p {
      margin: 1rem 0 0;
    }
  }

  .bar {
    position: relative;
    left: 0;
    width: 0;
    height: 5px;
    background-color: $orange;
    transition: width .5s ease-in-out; /* Smooth animation */
  }
  
  .bar.animated {
    width: 50%; /* Animate to the middle of the page */
  }

  .portfolio__header {
    flex:  100%;
    padding: 0 5%;
  }

  .portfolio__title {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: white;
    margin: 0;
    margin-bottom: 20px;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;  
  gap: 20px;
  padding: 50px 5%;

  .portfolio__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 45%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    white-space: pre-wrap;
  }

  h2 {
    color: $lightblue;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
  }

  p {
    margin: 10px;
    line-height: 1.4rem;
  }

  a {
    color: $lightblue;
  }

  a:visited {
    color: $lightblue;
  }

  .portfolio__item-stack {
    margin: auto 0 20px;
    padding-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .app {
    .bar {
      transition: width .5s ease-in-out;
    }
  }

  .portfolio {
    .portfolio__item:last-child {
      flex: 0 45%;
    } 
  }
  
}